@font-face {
  font-family: "Roboto";
  font-weight: 100 900;
  font-stretch: 75% 100%;
  font-style: normal;
  src: local("Roboto"),
    url("./fonts/Roboto-VariableFont.ttf") format("truetype-variations");
}

@font-face {
  font-family: "RobotoCondensed";
  font-style: normal;
  font-weight: 900;
  src: local("RobotoCondensed"), local("Roboto Condensed"),
    url("./fonts/RobotoCondensed-Black.ttf");
}

:root {
  --font-family-primary: "Roboto";
  --font-family-secondary: "RobotoCondensed";
  font-family: var(--font-family-primary);
}

h1 {
  font-size: 5rem;
  font-weight: 900;
  line-height: 1.2;
}
